<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>MyTest</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>com.nieli.listener.WebListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>servlet</servlet-name>
		<servlet-class>com.nieli.servlet.InstanceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servlet</servlet-name>
		<url-pattern>/servlet/json</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>Encoding</filter-name>
		<filter-class>com.nieli.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Encoding</filter-name>
		<url-pattern>/servlet/*</url-pattern>
	</filter-mapping>
</web-app>